.Container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 850px;
  gap: 15px;
  padding-top: 50px;
}

.Title {
  font-family: 'GT-Alpina-Italic';
}

.Note {
  grid-column: 2 / 5;
}