.Container {
  display: grid;
}

.App {
  place-self: center;
  display: grid;
  width: 800px;
  gap: 15px;
  padding-top: 50px;
}

.App-header {
  grid-column: 1 / span 4;
}


.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

.PhotoCard {
  display: grid;
}

.Title {
  font-family: 'GT-Alpina-Italic';
}