.Container {
  display: flex;
  justify-content: center;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 850px;
  gap: 15px;
  padding-top: 50px;
}

.Grid-header {
  grid-column: 1 / span 4; 
}


.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

.PhotoCard a {
  display: block;
}

.Title {
  font-family: 'GT-Alpina-Italic';
}

.PostDetail {
  grid-column: 100px;
}